.welcomeModal4 {
    display: flex;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .welcomeModal4__box {
    width: 30vw;
    height: 24vh;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #282828;
    color: white;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: overlay;
    left: 11vw;
    top: 8vh;
  }
  
  .welcomeModal4__box::-webkit-scrollbar {
    display: none;
  }

  .welcomeModal4__box > h3 {
    padding: 10px 20px 0 20px;
    text-align: center;
  }

  .welcomeModal4__box > h4 {
    padding: 10px 20px 0 20px;
    text-align: center;
  }
  
  .welcomeModal4__box > h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .welcomeModal4__box > hr {
    border: 1px solid rgba(0, 0, 0, 0.7);
    width: 90%;
    margin: 10px auto;
  }

  .welcomeModal4__notice {
      color: #309148;
  }

  .welcomeModal4_close_icon {
    position: absolute;
    color: white;
    top: 6vh;
    right: 58vw;
    cursor: pointer;
  }
  
  .welcomeModal4_close_icon:hover {
    color: red;
  }

  .welcomeModal4__continue {
      color: white;
      cursor: pointer;
      transition: 200ms color ease-in;
      align-items: center;
      text-align: right;
      padding-right: 20px;
      padding-top: 15px;
      padding-bottom: 10px;
  }

  .welcomeModal4__continue:hover {
    color: #309148;
}

  .continue__icon {
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
  }

  .end__button {
      align-items: center;
  }

  .welcomeModal4__continue > a {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
    margin-bottom: 5px;
}

.MuiSvgIcon-root.continue__icon {
    fill: currentColor;
    width: .5em;
    height: .5em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.welcomeModal4__arrow {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right:20px solid #282828;
    position: absolute;
    left: 10vw;
    top: 133px;
}

.welcomeModal4__warning {
    color: #9c332c;
}